<footer class="position-relative">
    <div class="footer-bgs">
        <img src="/assets/footer.png" alt="" class="w-100 footer-bgh01 d-none d-md-block">
        <img src="/assets/footer-mob-bg.png" alt="" class="w-100 footer-bgh01 d-block d-md-none">
        <div class="container ft-menus">
            <div class="col-lg-8 mx-auto">
                <div class="row row-cols-5 gx-2 justify-content-center">
                    <div class="col">
                        <a href="/" class="c-menus position-relative">
                            <div class="menus-cad01">
                                <img src="/assets/home-menu.png" alt="" />
                            </div>
                            <h5 class="mt-2"> Home </h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/map1" class="c-menus position-relative">
                            <div class="menus-cad01">
                                <img src="/assets/search01.png" alt="" />
                            </div>
                            <h5 class="mt-2"> Map </h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/quiz" class="c-menus position-relative">
                            <div class="menus-cad01">
                                <img src="/assets/dog01.png" alt="" />
                            </div>
                            <h5 class="mt-2"> Quiz </h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/passport" class="c-menus position-relative">
                            <div class="menus-cad01">
                                <img src="/assets/box.png" alt="" />
                            </div>
                            <h5 class="mt-2"> Passport </h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/achievements" class="c-menus position-relative">
                            <div class="menus-cad01">
                                <img src="/assets/trophy1.png" alt="" />
                            </div>
                            <h5 class="mt-2"> Achivements </h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="shaosdow-box">
                <img src="/assets/shadows.png" alt="fm" />
            </div>
        </div>
        <p class="copy-text01">&copy; 2024 Geofroggy Learning Portal. All rights reserved.</p>
    </div>
</footer>