<header class="float-start w-100">
    <img src="/assets/bg-new.png" alt="" class="w-100 bg-heade d-none d-md-block" />
    <img src="/assets/navbar-mobilebg015.png" alt="" class="w-100 bg-heade d-block d-md-none" />

    <nav class="navbar navbar-expand-lg w-100 mb-0 pb-0">
        <div class="container">
            <a class="navbar-brand d-none d-lg-block" href="/">
                <img src="/assets/logo.svg" alt="Geofroggy Logo" />
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map1">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stories">Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/passport">My Passport</a>
                    </li>
                </ul>
            </div>
            <div class="user-rights d-flex align-items-center">
                <div class="user-names">
                    <img src="/assets/user-id-pic.png" alt="vm" />
                </div>
                <div class="header-stats ">
                    <div id="auth-wrapper">
                        <a href="/login" class="stat-item ns-btn d-none d-md-flex align-items-center login-btn">
                            Login
                        </a>
                    </div>
                    <div class="stat-item align-items-center"
                        style="background: linear-gradient(135deg, #675955, rgb(0, 0, 0)); color: white; padding: 4px 8px; border-radius: 50px;     border: solid 2px #000;">
                        <img src="/assets/rt-icons.png" alt="" /><span id="token-count">0</span>
                        <button class="add-btn">
                            <img src="/assets/plus-icons01.png" alt="" />
                        </button>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                <img src="/assets/mobile-menus.png" alt="" />
            </button>
        </div>
    </nav>
</header>