<div class="offcanvas offcanvas-start mbolie-menus021" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a href="/" class="offcanvas-title" id="offcanvasExampleLabel">
            <img src="/assets/logo.svg" alt="Geofroggy Logo" />
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="p-0 m-0">
            <li>
                <a href="/">Explore</a>
            </li>
            <li>
                <a href="/map">Map</a>
            </li>
            <li>
                <a href="/quiz">Quiz</a>
            </li>
            <li>
                <a href="/stories">Stories</a>
            </li>

            <li>
                <a href="/passport">My Passport</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/profile">My Account</a>
            </li>
        </ul>
    </div>
</div>