<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="/">
            <span class="logo-geo">geo</span><span class="logo-froggy">froggy</span>
        </a>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="active">
                <a href="teen-dashboard.html">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-compass"></i>
                    <span>Explore</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-map"></i>
                    <span>Map</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-trophy"></i>
                    <span>Challenges</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-book-open"></i>
                    <span>Stories</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-star"></i>
                    <span>Achievements</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-ranking-star"></i>
                    <span>Leaderboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-bottom">
        <div class="sidebar-mascot">
            <img src="/assets/Teen-frog.png" alt="Mascot">
        </div>
        <div class="sidebar-quote">
            "The world is full of wonders. Go explore!"
        </div>
    </div>
</div>
