<div class="header-inner">
    <div class="header-left">
        <div class="teen-portal-badge">Teen Portal</div>
    </div>

    <nav class="header-nav">
        <ul>
            <li class="active">
                <a href="teen-dashboard.html">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Explore</span>
                </a>
            </li>
            <li>
                <a href="teen-map.html">
                    <i class="fa-solid fa-map"></i>
                    <span>Map</span>
                </a>
            </li>
            <li>
                <a href="teen-challenges.html">
                    <i class="fa-solid fa-trophy"></i>
                    <span>Challenges</span>
                </a>
            </li>
            <li>
                <a href="teen-stories.html">
                    <i class="fa-solid fa-book-open"></i>
                    <span>Stories</span>
                </a>
            </li>
            <li>
                <a href="teen-leaderboard.html">
                    <i class="fa-solid fa-ranking-star"></i>
                    <span>Leaderboard</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="header-right">
        <div class="stat-badge xp-badge">
            <i class="fa-solid fa-bolt"></i>
            <span id="header-xp">0 XP</span>
        </div>
        <div class="stat-badge level-badge">
            <div class="level-icon">
                <i class="fa-solid fa-shield-halved"></i>
            </div>
            <div class="level-text">
                <span class="level-label" id="header-level">Level 1</span>
                <span class="level-name" id="header-rank">Explorer</span>
            </div>
        </div>
        <div class="user-profile">
            <img src="/assets/default-avatar.png" alt="User Profile" id="header-avatar">
        </div>
    </div>
</div>
